SERVER_PORT=
CLIENT_PORT=


DATABASE_URL=
JWT_SECRET=

# bật/tắt gửi mail (nếu false thì chỉ log, không gửi thật)
SMTP_ENABLED=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=

# optional
SMTP_FROM=
API_BASE_URL=
CLIENT_URL=

GOOGLE_API_KEY=
KEY_FREE_TIER=

NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_SOCKET_URL=